@page
@model GoogleTimeline.Pages.Timeline.IndexModel
@{
}
<h1 class="display-4">Timeline</h1>
<p>Here you can view your timeline summary, and add more records.</p>
@if (!string.IsNullOrWhiteSpace(Model.PeriodString)) 
{
    <p>The data available is for the following periods: @Model.PeriodString</p>
}
@if (Model.VisitCount.HasValue)
{
    <p>
        Number of days visiting selected location: @Model.VisitCount
        <br />
        <a href="@Model.MapsLink" target="_blank">Open location in maps</a>
    </p>
    @if (Model.VisitDays != null)
    {
        <ul>
            @foreach (var day in Model.VisitDays)
            {
                <li>@day.ToString("yyyy-MM-dd, dddd")</li>
            }
        </ul>
    }
}
<table>
    <tr>
        <td>Place visits:</td>
        <td>@Model.PlaceVisitCount</td>
    </tr>
    <tr>
        <td>Activity segments:</td>
        <td>@Model.ActivitySegmentCount</td>
    </tr>
</table>